﻿@{Layout = null;}
<html>
    <head>
        <title>Portfolio</title>
    </head>
    <body>
        <link rel="icon" type="image/x-icon" href=@ViewData["favicon"] />
        <!-- Font Awesome icons (free version)-->
        <script src=@ViewData["js_fontawesome"] crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href=@ViewData["fonts_Montserrat"] rel="stylesheet" type="text/css" />
        <link href=@ViewData["fonts_Roboto_Slab"] rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href=@ViewData["css_style"] rel="stylesheet" />
        <h1> welcome back </h1>
    </body>
</html>
