<footer id="footer" class="footer light-background">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                <div class="widget">
                    <h3 class="widget-heading">About Us</h3>
                    <p class="mb-4">
                        There live the blind texts. Separated they live in Bookmarksgrove
                        right at the coast of the Semantics, a large language ocean.
                    </p>
                    <p class="mb-0">
                        <a href="#" class="btn-learn-more">Learn more</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ps-lg-5 mb-3 mb-md-0">
                <div class="widget">
                    <h3 class="widget-heading">Navigation</h3>
                    <ul class="list-unstyled float-start me-5">
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Find Buyers</a></li>
                    </ul>
                    <ul class="list-unstyled float-start">
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 pl-lg-5">
                <div class="widget">
                    <h3 class="widget-heading">Recent Posts</h3>
                    <ul class="list-unstyled footer-blog-entry">
                        <li>
                            <span class="d-block date">May 3, 2020</span>
                            <a href="#">There live the Blind Texts</a>
                        </li>
                        <li>
                            <span class="d-block date">May 3, 2020</span>
                            <a href="#">Separated they live in Bookmarksgrove right</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 pl-lg-5">
                <div class="widget">
                    <h3 class="widget-heading">Connect</h3>
                    <ul class="list-unstyled social-icons light mb-3">
                        <li>
                            <a href="#"><span class="bi bi-facebook"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="bi bi-twitter-x"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="bi bi-linkedin"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="bi bi-google"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="bi bi-google-play"></span></a>
                        </li>
                    </ul>
                </div>

                <div class="widget">
                    <div class="footer-subscribe">
                        <h3 class="widget-heading">Subscribe</h3>
                        <form action="forms/newsletter.php" method="post" class="php-email-form">
                            <div class="mb-2">
                                <input type="text" class="form-control" name="email" placeholder="Enter your email">

                                <button type="submit" class="btn btn-link">
                                    <span class="bi bi-arrow-right"></span>
                                </button>
                            </div>
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">
                                Your subscription request has been sent. Thank you!
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright d-flex flex-column flex-md-row align-items-center justify-content-md-between">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">Active.</strong> <span>All Rights Reserved</span></p>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </div>
</footer>
