@model IEnumerable<Web_GEO.Models.Cars.Tayota.ColorModel>

<h1>Model-Car</h1>

<form asp-controller="SearchGeo" asp-action="Search" method="get">
    <input type="text" name="search" placeholder="Throw input a text" />
    <input type="submit" value=" Send" style=" border-radius:10px; background-color:forestgreen; color:white;" />
</form>