<!DOCTYPE html>
<html>
<partial name="FavoritePlace/Head" />
<body>
    <partial name="FavoritePlace/Navigation" />
    <partial name="FavoritePlace/Masthead" />
    <partial name="FavoritePlace/About" />
    <partial name="FavoritePlace/Services" />
    <partial name="FavoritePlace/Portfolio" />
    <partial name="FavoritePlace/Action" />
    <partial name="FavoritePlace/Contact" />
    <partial name="FavoritePlace/Footer" />
    <main id="main">@RenderBody()</main>
</body>
<partial name="FavoritePlace/Include" />
@await RenderSectionAsync("Scripts", required: false)
</html>
