<html xmlns="http://www.w3.org/1999/xhtml">
<partial name="GrayScale/Head" />
<body>
    <partial name="GrayScale/Navbar" />
    <partial name="GrayScale/Header" />
    <main class="main">@RenderBody();</main>
    <partial name="GrayScale/Selection" />
    <partial name="GrayScale/Footer" />
</body>
<partial name="GrayScale/Include" />

@await RenderSectionAsync("Scripts", required: false)
</html>
