@model Web_GEO.Models.Cars.Tayota.ConfigurationColorModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ConfigurationColorModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ColorId" class="control-label"></label>
                <select asp-for="ColorId" class="form-control" asp-items="ViewBag.ColorId"></select>
                <span asp-validation-for="ColorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfigurationId" class="control-label"></label>
                <select asp-for="ConfigurationId" class="form-control" asp-items="ViewBag.ConfigurationId"></select>
                <span asp-validation-for="ConfigurationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarImageUrl" class="control-label"></label>
                <input asp-for="CarImageUrl" class="form-control" />
                <span asp-validation-for="CarImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
