<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
@* 
<!-- Preloader -->
<div id="preloader"></div> *@

<!-- Vendor JS Files -->
<script src="/active_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/active_assets/vendor/php-email-form/validate.js"></script>
<script src="/active_assets/vendor/aos/aos.js"></script>
<script src="/active_assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/active_assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/active_assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/active_assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/active_assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

<!-- Main JS File -->
<script src="/active_assets/js/main.js"></script>