@model Web_ASP.NET.Models.Enteties.Country
<h1>PAGE OF Edit</h1>
<p>Model: @Model.Id</p>

<form asp-action="/api/ApiCountries" name="frmEditCountry">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden">
    <div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" id="item-name" />
        </div>
        <div class="form-group">
            <label asp-for="CapitalId"></label>
            <input asp-for="CapitalId" type="number" id="item-capitalId">
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Ok" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Index">Return back</a>

<script>
    document.forms.frmEditCountry.onsubmit = (ev) => {
        ev.preventDefault();
        const form = new FormData(document.forms.frmEditCountry);
        fetch(`/api/ApiCountries/${@Model.Id}`, {
            method: 'PUT',
            body: form
        })
            .then(res => {
                if (!res.ok) throw new Error(console.log("response isn't ok"))
                return res.json();
            })
            .then(data => { console.log(data) })
            .catch(err => { console.error(err) })
        // window.location.href = "/apipageofcountry/index";
    }

</script>


