<h1>Create new tag: </h1>
<div>
    <form asp-controller="Tag" asp-action="Create">
        <!--method="post"-->
        <div>
            <input type="text" name="title" placeholder="Enter your tag: " />
        </div>
        <div>
            <input type="submit" placeholder="Submit" />
        </div>
    </form>
</div>