@**@@{}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Page</title>
    </head>
    <body>
        <ul>
            @foreach (var product in @ViewData["listOfProducts"] as List<string>)
            {
                <li>@product @product.Length</li>
            }
        </ul>
</body>
</html>
