<h1>Create tag for store</h1>
<div>
    <form asp-controller="Tag" asp-action="Create">
        <div>
            <input type="text" placeholder="Enter your tag: " />
        </div>
        <div>
            <input type="submit" placeholder="Submit" />
        </div>
    </form>
</div>
